body {
	background: #f7f3e8;
}

p {
	color: #555;
}
.intro-header {
	margin-bottom: 20px;
}
.main_content .whiteGr-box h2 {
  color: #8d8e8f;
  font-size: 1.5em;
  font-weight: bold;
}

.main_content .whiteGr-box h2 a {
  text-decoration: none;
  font-size: 0.8em;
}
.main_content a, .custom_sidebar a {
	color: #ccbd9a;
	cursor: pointer;
}

.main_content a:hover, .custom_sidebar a:hover {
	color: lightblue;
}

.whiteGr-box  {
  padding: 20px;
  background: #fff;
  box-shadow: 0px 3px 2px #dad7cf;
    border: 1px solid #e4dfd1;
  border-radius: 3px;
  margin-bottom: 20px;
}

.whiteGr-box h2 {
	color: #8d8e8f;
  font-size: 1.5em;
  font-weight: bold;
}

.whiteGr-box h2.header a {
	font-size: 0.7em;
	text-decoration: none;
}

.whiteGr-box h2.header a  i {
	color: #666;
	margin-left: 5px;
}
.whiteGr-box table h2 {
	font-size: 1.5em;
} 
.main_content .whiteGr-box table td  {
  padding: 10px 30px;
}

.main_content .whiteGr-box table td h3 {
	font-size: 1em;
	font-weight: normal;
}

.main_content .whiteGr-box table tr:nth-child(even) {
	background: #f2f2f2;
}

.custom_sidebar .whiteGr-box  h2 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;

}
ul.nostyles {
	list-style: none;
	padding-left: 0;
	line-height: 24px;
}
ul.nostyles a {
text-decoration: none;
}

ul.nostyles a:hover {
	color: lightblue;
}

ul.tick-style i {
  border: 3px solid green;
  color: green;
  border-radius: 50%;
  font-size: 0.8em;
}
.membership_table {
	margin-top: 20px;
}

.membership_table td {
	border-top: 0 !important;
	/*border: 1px solid red;*/
	color: #ccbd9a;
}

.header-customstrip {
	background: #fff;
	padding: 10px;
	border-bottom: 4px solid #c2ac7b;
}

ul.main-menu {
  list-style: none;
  text-align: right;
  margin-top: 12px;
  padding-left: 0;
}

@media screen and (max-width: 991px) {
	ul.main-menu  {
		text-align: center;
	}
}
ul.main-menu li {
  list-style: none;
  display: inline-block;
  text-align: right;
  margin-left: 20px;
  position: relative;
}

ul.main-menu li a {
	font-size: 1em;
	color: #555;
}

ul.main-menu li:after {
  content: "";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /* color: #000; */
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 4px;
  display: block;
  border-right: 2px solid #5a5f7f;
  width: 1px;
  height: 14px;
  right: -12px;
}

ul.main-menu li:last-child:after {
border-right: 0;
}

.signout-headerlink a {
  border: 1px solid #58595b;
  padding: 10px 20px;
  background: #58595b;
  color: #fff;
  margin-top: 0px;
  display: inline-block;
  font-size: 0.9em;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
	.signout-headerlink a {
	  text-align: center;
	  display: block;
	  width: 135px;
	  margin: auto;
	}
}
.signout-headerlink a:hover {
	color: #58595b;
	border-color: #58595b;
	background: #fff;
}  